1. Use the gryffindor.json and slytherin.json files to create two corresponding DataFrames.
2. Check the contents of both DataFrames to ensure they loaded correctly.
3. Display the two DataFrames one after the other, each starting with an index of 0.
4. Repeat step 3, but this time, reset the index for both DataFrames so they list rows from 0 to the last row.
5. Repeat again, but use keys to differentiate between Gryffindor (g) and Slytherin (s).
6. Retrieve and display the details of row number 4 in the Gryffindor DataFrame.
7. Use .loc to find and display the first name of the first Slytherin student.
8. Use .loc to find and display the last name and graduation year of Slytherin student number .

9. Use pd.concat to add one last row to the Slytherin DataFrame with the following details:  
student_id: 16  
last_name: Riddle  
first_name: Tom  
gender: Male  
class_of: 1945

10. Use pd.concat to add two rows at the beginning of the Gryffindor DataFrame with the following details:  
student_id: 100  
last_name: Dumbledore  
first_name: Albus  
gender: Male  
class_of: 1899
    
student_id: 200    
last_name: McGonagall  
first_name: Minerva  
gender: Female  
class_of: 1954

* Upload a new dataframe from test_results.txt. Inspect the dataframe to ensure you understand its structure.
  
11. Display the students alongside their test results.
12. Include students who do not have test results.
13. Add a column indicating whether the row is a result of an inner, left, or right join.
14. Bonus: If time allows, use groupby to show the average grade for each subject in each house.