1. upload the used_car_dataset csv file and name it df

2. inspect your df, use at least head, info and describe

2.1. What is the shape of the DataFrame? How many dimensions does it have?

3. display only the Brand ,model and year columns

4. what brand is most sold?

5. how many different models are there?

6. What is the percentage of occurrences for each brand in the given column of the DataFrame?

##### if you have more time
7. Write a program to print the unique values from the 'Brand' column of the DataFrame. For each unique value, print its index (starting from 1) and the brand name in the format:
1) Honda
2) Toyota
and so on.

8. Using the program you wrote in the previous exercise, modify it to create a function called print_unique_values that accepts a DataFrame and a column name as input. The function should print the unique values from the specified column, numbered starting from 1. If there are more than 50 unique values, the function should stop after displaying the first 50 and print a message saying, 'Too many unique values, stopping at 50.

    או בעברית: קחו את הקוד מהשאלה הקודמת ותעשו ממנו פונקציה שתקבל שם עמודה ושם לוח נתונים ותדפיס את הערכים היחודיים של העמודה .
   בגלל שיש המון שורות , בואו נגביל את הפונקציה למקסימום 50 שורות הדפסה, ואם במקרה יש יותר אז נודיע למשתמש שזהו, חלאס, אנחנו מדפיסים רק 50