intro: in this exercise you will use mls_salaries_nans.csv as the data frame.

1. look at your data and get to know it a little. use info(), head(), tail, describe()- or whatever it is you want to map for yourself what needs to be done.

2. The 'club' column contains NaN values. Delete rows with null values in this column and make the changes permanent

3. The 'base_salary' and 'position' columns contain NaN values. Delete rows with null values in them and make the changes permanent

4.restore the data from the original file to continue this exercise.

5. there is 1 row that has NaN values in all columns. delete it, make the changes permanent.

6.The 'base_salary' column contains NaN values. Replace them with something that makes sense to you. make sure to make the change permanent

7. The 'club' column contains NaN values. Replace them with something that makes sense to you. make sure to make the change permanent

8. The 'position' columns contains NaN values.
   use isnull to mask the relevant rows and show only them