
##### Part 1 Creating a Python Date Object

1. Create a datetime.date object for January 1, 2024.  
Print the month from this object.  
Creating a Full DateTime Object  

2. Create a datetime.datetime object for December 31, 2025, at 11:59 PM.  
Extract and print the year, month, and time from this object.  
Converting Strings to Dates with Pandas  

3. Convert the string "2024-12-19" to a pandas Timestamp object using to_datetime.  
Check if the date represents the start of the month.

In [1]:
import datetime as dt

import pandas as pd
import numpy as np

In [2]:
dt.date(2024, 1, 1)

datetime.date(2024, 1, 1)

In [3]:
dt.datetime(2025, 12, 31, 23, 59)

datetime.datetime(2025, 12, 31, 23, 59)

In [4]:
pd.to_datetime('2024-12-19')

Timestamp('2024-12-19 00:00:00')

##### Prart 2 Generating a Biweekly Date Range

4. Create a range of 14 dates starting from January 1, 2024, with a frequency of 7 days.  
Convert the range into a DatetimeIndex.  
Boolean Series with Date Index  

5. Use the DatetimeIndex from the previous question to create a pandas Series with 14 Boolean values (True/False).  
Assume these values represent whether tasks were completed on the corresponding dates.  
Counting Wednesdays in a Month
to quickly create a boolean series you can use the following code:  
pd.Series(np.random.choice([True, False], size=14)

7. Create a date range for February 2024 (a leap year).  
Count how many Wednesdays occur in this month.

In [5]:
date = pd.date_range('2024-1-1', periods=14, freq = '7D')

In [6]:
date_s = pd.Series(index=date, data=np.random.choice([True, False], size=14))

date_s

2024-01-01     True
2024-01-08    False
2024-01-15    False
2024-01-22    False
2024-01-29     True
2024-02-05     True
2024-02-12    False
2024-02-19    False
2024-02-26     True
2024-03-04     True
2024-03-11     True
2024-03-18    False
2024-03-25    False
2024-04-01    False
Freq: 7D, dtype: bool

In [7]:
feb = pd.date_range('2024-2-1', '2024-2-29')

In [8]:
wednsdays = feb.day_name() == 'Wednesday'

In [9]:
wednsdays.sum()

np.int64(4)

##### Part 3: Advanced Questions
7. Counting Zoom Lessons Until the End of the Course  

Assume Zoom lessons occur every Tuesday. The course will end on April 5, 2025.  
Generate a list of all Zoom lesson dates and count how many lessons remain until the course ends.  
Marking Jewish Weekends  

8. Write a function that accepts a list of dates and returns a DataFrame with the following columns:  
The date.  
The name of the weekday (e.g., Monday, Tuesday).  
A Boolean column indicating whether the date is a Friday or Saturday (Jewish weekend).  
Use this function to analyze the February 2024 date range.

In [10]:
zoom_dates = pd.date_range(start = dt.datetime.now(), end='2025-04-05', freq="W-TUE")

In [11]:
print(f"We have {len(zoom_dates)} zoom lessons left in our AI course")

We have 15 zoom lessons left in our AI course

##### Part 4: Titanic Dataset
9. Calculating Today's Age for Titanic Passengers  

Write a function that accepts a Titanic passenger's index and calculates their age today if they were still alive.  
Assume the data was collected on April 15, 1912, and calculate the birth year from the passenger's recorded age.  
Finding the Weekday of the 100th Birthday

In [12]:
titanic = pd.read_csv("datasets/titanic.csv")

In [13]:
titanic.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [14]:
def passanger_age_today(index):
    passanger = titanic.iloc[index]
    birthday_year = 1912 - passanger['Age']
    current_year = dt.datetime.now().year
    current_age = current_year - birthday_year
    current_age = int(current_age)
    print(f"The current age of {passanger['Name']} would be {current_age} years old")

In [15]:
passanger_age_today(185)

The current age of Mrs. Thomas (Johanna Godfrey) O'Brien would be 138 years old