<a href="https://colab.research.google.com/github/DanielDekhtyar/AI-Accelerator/blob/main/Module%205%20-%20EDA%20data%20visualization%20and%20preparation/EDA_vectorized_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

##### intro: numpy  
a. Create a 1D NumPy array called arr with the elements [10, 20, 30, 40].  
Print the type, number of dimensions, shape, and size of arr.

In [2]:
arr = np.array([10, 20, 30, 40])

In [3]:
type(arr)

numpy.ndarray

In [4]:
arr.ndim

1

In [5]:
arr.shape

(4,)

In [6]:
arr.size

4

b. Create a 2D NumPy array called arr2 with the values [[1, 2, 3], [4, 5, 6]].
Print the number of dimensions, shape, and size of arr2.
Access and print the first element of the second row.

In [7]:
arr2 = np.array([[1, 2, 3], [4, 5, 6]])

In [8]:
arr2.ndim

2

In [9]:
arr2.shape

(2, 3)

In [10]:
arr2.size

6

In [11]:
arr2[1][0]

4

**Array Arithmetic:**

c. Create two arrays a = np.array([1, 2, 3]) and b = np.array([10, 20, 30]).
Use vectorized addition to create a new array c that contains the sum of a and b.

In [12]:
a = np.array([1, 2, 3])
b = np.array([10, 20, 30])

In [13]:
c = a+b

In [14]:
c

array([11, 22, 33])

**Random Array and Timing:**  
d. Create a random array x of size 5 using np.random.rand().  
e. Create two random arrays a and b of size 10**6 each.
Measure the time it takes to perform vectorized addition a + b.

In [15]:
x = np.random.rand(5)

In [16]:
x

array([0.63949504, 0.3854358 , 0.60145869, 0.4756378 , 0.42488621])

In [17]:
a = np.random.rand(10**6)
b = np.random.rand(10**6)

In [18]:
%timeit c = a+b

1.83 ms ± 109 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

**Titanic Dataset:**  

1. Create a new column Age_Category using the **apply** method  
If age is less than 18, assign Child otherwise assign Adult.
2. drop the column you created
3. Create a new column Age_Category using the **apply** method:  
If age is less than 18, assign Child.  
If age is between 18 and 50, assign Adult.  
If age is 60 or more, assign Senior.

In [19]:
titanic = pd.read_csv("titanic.csv")

In [20]:
Age_Category = titanic['Age'].apply(
    lambda x: 'Child' if x < 18 else 'Adult'
    ).rename('Age_Category')

In [21]:
titanic = pd.concat([titanic, Age_Category], axis=1)

In [22]:
titanic

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,Age_Category
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500,Adult
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833,Adult
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250,Adult
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000,Adult
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500,Adult
...,...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000,Adult
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000,Adult
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500,Child
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000,Adult
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500,Adult

In [23]:
titanic = titanic.drop('Age_Category', axis=1)

In [24]:
titanic['Age_Category'] = titanic.Age.apply(
    lambda age: "Child" if age < 18 else "Adult" if age < 50 else "Senior")

In [25]:
titanic.head(10)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,Age_Category
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500,Adult
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833,Adult
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250,Adult
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000,Adult
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500,Adult
5,0,3,Mr. James Moran,male,27.0,0,0,8.4583,Adult
6,0,1,Mr. Timothy J McCarthy,male,54.0,0,0,51.8625,Senior
7,0,3,Master. Gosta Leonard Palsson,male,2.0,3,1,21.0750,Child
8,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27.0,0,2,11.1333,Adult
9,1,2,Mrs. Nicholas (Adele Achem) Nasser,female,14.0,1,0,30.0708,Child

**Cereal Dataset:**  

5. Use the **apply** method to create a new column Health_Score:
Add the values of fiber and protein for each row.

In [26]:
cereal = pd.read_csv("cereal.csv")

In [27]:
Health_Score = cereal.apply(lambda x: x.fiber + x.protein, axis=1).rename('Health_Score')

In [28]:
Health_Score

0     14.0
1      5.0
2     13.0
3     18.0
4      3.0
      ...
72     2.0
73     1.0
74     6.0
75     6.0
76     3.0
Name: Health_Score, Length: 77, dtype: float64

In [29]:
cereal = pd.concat([cereal, Health_Score], axis=1)

In [30]:
cereal

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,Health_Score
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,14.0
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,5.0
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,13.0
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,18.0
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174,2.0
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301,1.0
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445,6.0
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193,6.0
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559,3.0