 **ייבוא נתונים:**  
1. טען את הנתונים מקובץ imdb_top_1000.csv

2. בחני את המידע שקיבלת

In [1]:
import pandas as pd

In [2]:
imdb = pd.read_csv("imdb_top_1000.csv")

In [3]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [4]:
imdb.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

**ייעול**  
3.  על מנת ליעל את העבודה כדאי לשנות טיפוס לכמה מהעמודות. הרץ  
info ו nunique ו describe לפני השינויים  
4. שני את טיפוסי העמודות הבאות:  
Released_Year, Certificate   
שימי לב את בטח תתקלי בבעיה בעמודת השנה
אבל את יודעת לפתור את זה!  
5. נסה לשנות גם את עמודת 
Genre  
 האם זה היה כדאי? אם לא שנה אותה בחזרה וחשוב איך אפשר היה לצפות מראש שזאת תהיה בעיה.

In [5]:
imdb[imdb["Released_Year"] == "PG"]

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
966,https://m.media-amazon.com/images/M/MV5BNjEzYj...,Apollo 13,PG,U,140 min,"Adventure, Drama, History",7.6,NASA must devise a strategy to return Apollo 1...,77.0,Ron Howard,Tom Hanks,Bill Paxton,Kevin Bacon,Gary Sinise,269197,"173,837,933"

In [6]:
imdb.loc[966, "Released_Year"] = 1995

In [7]:
imdb["Released_Year"] = imdb["Released_Year"].astype("int16")

In [8]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   int16
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int16(1), int64(1), object(12)
memory usage: 119.3+ KB

In [9]:
imdb["Certificate"] = imdb["Certificate"].astype("category")

In [10]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   int16
 3   Certificate    899 non-null    category
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: category(1), float64(2), int16(1), int64(1), object(11)
memory usage: 113.1+ KB

**ניקוי**  
6. מחקי כל שורה שיש בה שדה ריק בעמודת   
Meta_score   או Certificate  
7. וודא את השינוי

In [11]:
imdb["Meta_score"].dropna(inplace=True)

In [12]:
imdb["Certificate"].dropna(inplace=True)

In [13]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   int16
 3   Certificate    899 non-null    category
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: category(1), float64(2), int16(1), int64(1), object(11)
memory usage: 113.1+ KB

**אינדוקס**  
8. ודא שאין כפילויות בעמודת  
Series_Title  
9. הפכי את העמודה הזו לאינדקס   
10. סדר את הטבלה על פי האינדקס שלה באופן קבוע  
11.  מה המיקום של Apolo 13   
עכשיו?

In [14]:
imdb["Series_Title"].duplicated().any()

np.True_

 **שליפות**  
12. מצא את כל הפרטים על הסרט 
 Despicable Me
13. הצגי סרטים שמורגן פרימן היה השחקן הראשי בהם
14. עבור הסרטים   
Star Trek ו The Big Lebowski  
הצג את עמודות במאי וכוכב ראשי
15.  בכמה סרטים שיחק טום הנקס
        לי יצא 14...
16. הצג סרטים שהאינדקס שלהם הוא בין 
    Avatar 
   Back to the Future ל  
17.  מה  הציון (Meta_score) 
שקיבל Gattaca
ומה לגבי:
שקיבל Labyrinth
אם קיבלת שגיאה- איזו שגיאה היא? מה פירושה?

18. עמודת Meta_scor  
מראה ציון שקיבל הסרט בסקאלה עד 100
IMDB_Ratinואילו עמודת   
מראה אותו כשבר עשרוני - התאמי את הציונים לאותו סולם והציגי רק סרטים שהציניום שלהם בשתי העמודות זהים

**מניפולציות על מידע**

20. שני  למה שתרצי את דירוג הסרט Eternal Sunshine of the Spotless Mind
21. צור העתק של של הטבלה וכלול בו רק את האינדקס, שם הבמאי, שחקן ראשי ורייטינג
22. בהעתק שיצרת - החליפי את עמודת רייטינג בעמודת דירוג שתצרי על פיה rank()

**אחרון ודי**
צרו פונקציה שמקבלת מיקום של שורה בטבלת הסרטים
ומדפיסה את שם הסרט 
וגם
מחזירה את הקישור לפוסטר של הסרט