#1 import pandas

In [4]:
import pandas as pd

#2.1 create a list "names" with 4 string items (you can choose what 4 names you want to use in your list)

In [2]:
names = ["Daniel", "Diana", "Boris", "Irina"]

#2.2 create a dictionary "missions" with the following keys and values: 
Appolo11: "Moon landing"
Manhattan: "Development of Atomic Bomb"
Impossibl:"should you choose to accept it..."

In [3]:
missions = {
    "Apollo 11": "Moon landing",
    "Manhattan": "Development of Atomic Bomb",
    "Impossible": "Should you choose to accept it..."
}

#3.1 create a series variable named s_names and assign the names list to is a series

In [5]:
s_names = pd.Series(names)

#3.2 create a series variable named s_missions and assign the dictionary "missions" to is a series

In [8]:
s_missions = pd.Series(missions)

#4.1 print s_names ,and inspect the data type and the index

In [9]:
print(s_names)

0    Daniel
1     Diana
2     Boris
3     Irina
dtype: object

#4.2 print s_missions and inspect the data type and the index

In [10]:
print(s_missions)

Apollo 11                          Moon landing
Manhattan            Development of Atomic Bomb
Impossible    Should you choose to accept it...
dtype: object

#4.3 for both series use the index attribute.

In [11]:
s_missions.index

Index(['Apollo 11', 'Manhattan', 'Impossible'], dtype='object')

In [12]:
s_names.index

RangeIndex(start=0, stop=4, step=1)

#5 use read_csv to upload the data in 'https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv'

In [16]:
df_titanic = pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv')
df_titanic

     Index   Height(Inches)"   "Weight(Pounds)"
0        1             65.78             112.99
1        2             71.52             136.49
2        3             69.40             153.03
3        4             68.22             142.34
4        5             67.79             144.30
..     ...               ...                ...
195    196             65.80             120.84
196    197             66.11             115.78
197    198             68.24             128.30
198    199             68.02             127.47
199    200             71.39             127.88

[200 rows x 3 columns]

#6 take the ' Height(Inches)"' column and turn it to a series, asign this series into a varible named s_hight.

In [24]:
s_hight = pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv', usecols=[' Height(Inches)"']).squeeze("columns")

In [25]:
s_hight

0      65.78
1      71.52
2      69.40
3      68.22
4      67.79
       ...
195    65.80
196    66.11
197    68.24
198    68.02
199    71.39
Name:  Height(Inches)", Length: 200, dtype: float64

#7 what is the data type of the the series values?

In [26]:
type(s_hight)

pandas.core.series.Series

#8 use appropriate attributes to  display the list of values in the series, and the information about the index of it.

In [27]:
s_hight.values

array([65.78, 71.52, 69.4 , 68.22, 67.79, 68.7 , 69.8 , 70.01, 67.9 ,
       66.78, 66.49, 67.62, 68.3 , 67.12, 68.28, 71.09, 66.46, 68.65,
       71.23, 67.13, 67.83, 68.88, 63.48, 68.42, 67.63, 67.21, 70.84,
       67.49, 66.53, 65.44, 69.52, 65.81, 67.82, 70.6 , 71.8 , 69.21,
       66.8 , 67.66, 67.81, 64.05, 68.57, 65.18, 69.66, 67.97, 65.98,
       68.67, 66.88, 67.7 , 69.82, 69.09, 69.91, 67.33, 70.27, 69.1 ,
       65.38, 70.18, 70.41, 66.54, 66.36, 67.54, 66.5 , 69.  , 68.3 ,
       67.01, 70.81, 68.22, 69.06, 67.73, 67.22, 67.37, 65.27, 70.84,
       69.92, 64.29, 68.25, 66.36, 68.36, 65.48, 69.72, 67.73, 68.64,
       66.78, 70.05, 66.28, 69.2 , 69.13, 67.36, 70.09, 70.18, 68.23,
       68.13, 70.24, 71.49, 69.2 , 70.06, 70.56, 66.29, 63.43, 66.77,
       68.89, 64.87, 67.09, 68.35, 65.61, 67.76, 68.02, 67.66, 66.31,
       69.44, 63.84, 67.72, 70.05, 70.19, 65.95, 70.01, 68.61, 68.81,
       69.76, 65.46, 68.83, 65.8 , 67.21, 69.42, 68.94, 67.94, 65.63,
       66.5 , 67.93, 68.89, 70.24, 68.27, 71.23, 69.1 , 64.4 , 71.1 ,
       68.22, 65.92, 67.44, 73.9 , 69.98, 69.52, 65.18, 68.01, 68.34,
       65.18, 68.26, 68.57, 64.5 , 68.71, 68.89, 69.54, 67.4 , 66.48,
       66.01, 72.44, 64.13, 70.98, 67.5 , 72.02, 65.31, 67.08, 64.39,
       69.37, 68.38, 65.31, 67.14, 68.39, 66.29, 67.19, 65.99, 69.43,
       67.97, 67.76, 65.28, 73.83, 66.81, 66.89, 65.74, 65.98, 66.58,
       67.11, 65.87, 66.78, 68.74, 66.23, 65.96, 68.58, 66.59, 66.97,
       68.08, 70.19, 65.52, 67.46, 67.41, 69.66, 65.8 , 66.11, 68.24,
       68.02, 71.39])

#9 what is the avrage higtht in this series?

In [28]:
s_hight.mean()

np.float64(67.9498)

#10 convert the values to cm (1 inch=2.54 cm)

In [45]:
s_hight_cm = s_hight*2.54
s_hight_cm.name = "Height(Centimetars)"
print(s_hight_cm)

0      167.0812
1      181.6608
2      176.2760
3      173.2788
4      172.1866
         ...
195    167.1320
196    167.9194
197    173.3296
198    172.7708
199    181.3306
Name: Height(Centimetars), Length: 200, dtype: float64