1. Use the json code to create 3 Dataframe with appropriate names. name them: patients,medications and - test_results.

In [2]:
#import...
import pandas as pd

In [4]:
#JSON data
patients_data = [
    {"patient_id": 201, "name": "Super Mario", "age": 40, "gender": "Male"},
    {"patient_id": 202, "name": "Jessica Rabbit", "age": 35, "gender": "Female"},
    {"patient_id": 203, "name": "Looney Toon", "age": 50, "gender": "Other"},
    {"patient_id": 204, "name": "Bart Simpson", "age": 10, "gender": "Male"},
    {"patient_id": 205, "name": "Snoopy", "age": 7, "gender": "Male"},
    {"patient_id": 206, "name": "Pikachu", "age": 5, "gender": "Other"},
    {"patient_id": 207, "name": "Minion Bob", "age": 6, "gender": "Male"}
]

medications_data = [
    {"patient_id": 201, "medication": "Anti-Fungy", "dosage": "20mg"},
    {"patient_id": 202, "medication": "Ozempic", "dosage": "0.5mg"},
    {"patient_id": 203, "medication": "Lithium", "dosage": "300mg"},
    {"patient_id": 204, "medication": "Jaundex", "dosage": "50mg"},
    {"patient_id": 205, "medication": "Rabivax", "dosage": "10ml"},
    {"patient_id": 206, "medication": "Jaundex", "dosage": "30mg"},
    {"patient_id": 207, "medication": "Jaundex", "dosage": "60mg"}
]

test_results_data = [
    {"patient_id": 201, "test": "Fungal Test", "result": "Positive"},
    {"patient_id": 202, "test": "Blood Sugar", "result": "High"},
    {"patient_id": 203, "test": "Mental Health", "result": "Stable"},
    {"patient_id": 204, "test": "Liver Function", "result": "Normal"},
    {"patient_id": 205, "test": "Rabies Antibodies", "result": "Negative"},
    {"patient_id": 206, "test": "Liver Function", "result": "Low"},
    {"patient_id": 207, "test": "Potassium Level", "result": "High"}
]

In [5]:
patients =  pd.DataFrame(patients_data)
medications =pd.DataFrame( medications_data)
test_results = pd.DataFrame(test_results_data)

2. Examine the patients and medications dataframes, and combine them to create a well-organized table that reflects all the data in a structured manner. save the result into a dataframe variable, name it patients_medications

In [14]:
patients
medications
#test_results


patients_medications = pd.merge(patients,medications, on ='patient_id')
patients_medications

   patient_id            name  age  gender  medication dosage
0         201     Super Mario   40    Male  Anti-Fungy   20mg
1         202  Jessica Rabbit   35  Female     Ozempic  0.5mg
2         203     Looney Toon   50   Other     Lithium  300mg
3         204    Bart Simpson   10    Male     Jaundex   50mg
4         205          Snoopy    7    Male     Rabivax   10ml
5         206         Pikachu    5   Other     Jaundex   30mg
6         207      Minion Bob    6    Male     Jaundex   60mg

3. Examine the patients_medications and test_results dataframes, and combine them to create a well-organized table that reflects all the data in a structured manner. save the result into a dataframe variable, name it hospital1_data.

In [24]:
#hospital1_data

hospital1_data  = pd.merge(patients_medications,test_results, on = 'patient_id')

4. Your hospital has merged with another, and you now need to combine the data from both hospitals. The data from the second hospital is stored in a CSV file called 'patients_data'. Please note:
   a.  when combining the information, you must create a detailed index with distinct keys for each hospital. Store the combined data into a dataframe, name it "hospital"
   b. if the data in the 2 dataframes is not structered the same, maybe i would be better to drop a column before combining...

In [18]:
df = pd.read_csv('patients_data.csv')

In [21]:
df.drop('Unnamed: 0',axis = 1, inplace = True)

In [25]:
hospital = pd.concat([df,hospital1_data ], keys  = ["h1", "h2"])
hospital

      patient_id            name  age  gender    medication dosage  \
h1 0         101     Moshe Cohen   45    Male  Atorvastatin   10mg
   1         102      Sara Smith   38  Female     Metformin  500mg
   2         103      Roth Brown   50  Female    Lisinopril   20mg
   3         104   Amir Abramson   60    Male       Jaundex   50mg
   4         105    Miriam Davis   30  Female    Amlodipine    5mg
h2 0         201     Super Mario   40    Male    Anti-Fungy   20mg
   1         202  Jessica Rabbit   35  Female       Ozempic  0.5mg
   2         203     Looney Toon   50   Other       Lithium  300mg
   3         204    Bart Simpson   10    Male       Jaundex   50mg
   4         205          Snoopy    7    Male       Rabivax   10ml
   5         206         Pikachu    5   Other       Jaundex   30mg
   6         207      Minion Bob    6    Male       Jaundex   60mg

                   test    result
h1 0        Cholesterol      High
   1        Blood Sugar    Normal
   2     Blood Pressure  Elevated
   3     Liver Function    Normal
   4            Calcium    Normal
h2 0        Fungal Test  Positive
   1        Blood Sugar      High
   2      Mental Health    Stable
   3     Liver Function    Normal
   4  Rabies Antibodies  Negative
   5     Liver Function       Low
   6    Potassium Level      High

#### preparing the data
5. For the following questions, please create a groupby object that groups the rows according to the index keys you created in Section 4.

6. Remove the letters from the 'dosage' column and convert it into a numeric column. (For the purpose of this exercise, do not recalculate or convert the numbers; just leave them as they are.)

In [27]:
groups =  hospital.groupby(level =0)

In [28]:
groups.indices

{'h1': array([0, 1, 2, 3, 4], dtype=int64),
 'h2': array([ 5,  6,  7,  8,  9, 10, 11], dtype=int64)}

In [ ]:
#hospital['dosage'].str.replace ('mg','').str.replace('ml','').astype('float')
hospital['dosage'] = hospital['dosage'].str.replace ((r'mg|ml'),'', regex =True).astype('float')

In [36]:
hospital.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 12 entries, ('h1', 0) to ('h2', 6)
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   patient_id  12 non-null     int64
 1   name        12 non-null     object
 2   age         12 non-null     int64
 3   gender      12 non-null     object
 4   medication  12 non-null     object
 5   dosage      12 non-null     float64
 6   test        12 non-null     object
 7   result      12 non-null     object
dtypes: float64(1), int64(2), object(5)
memory usage: 1.3+ KB

in each group:

7. how many patients are there?
8. what is the average age?
9. what is the total medicin given?
10. how many patients have 'High' in the result column?
11. how many have Jaundice (צהבת) in each group (you can recognize them by thier medication- Jaundex)
12. what are the names of the patients with Jaundice?
13. how many males and how many females in each group?

In [38]:
#7
groups.size()

h1    5
h2    7
dtype: int64

In [39]:
#8
groups['age'].mean()

h1    44.600000
h2    21.857143
Name: age, dtype: float64

In [40]:
#9
groups['dosage'].sum()

h1    585.0
h2    470.5
Name: dosage, dtype: float64

In [ ]:
#10

In [ ]:
#11

In [ ]:
#12

In [ ]:
#or....

This section focuses on understanding the behavior of merge versus concat, so you can choose the best approach for different scenarios in the future.

13. Use the get_group method to create two new DataFrames named h1 and h2.
14. Reset the index of each new DataFrame so that the keys you created in Part 4 become values in a column. Make sure to give that column a meaningful name, such as "hospital_name".
15. Use the merge method to combine the two new DataFrames. Ensure that all rows from both DataFrames are included in the result.
16. Compare the structure of the merged DataFrame from Part 15 with the original "hospital" DataFrame you created in Part 4, from which the two new DataFrames were derived.