In [1]:
import pandas as pd
#import numpy as np

In [2]:
#python list
colors = ['yellow','pink', 'red','blue']

In [5]:
colors

['yellow', 'pink', 'red', 'blue']

In [6]:
pd.Series(colors)

0    yellow
1      pink
2       red
3      blue
dtype: object

In [7]:
numbers = [1,-1,3.1415, 2.178,0]
pd.Series(numbers)

0    1.0000
1   -1.0000
2    3.1415
3    2.1780
4    0.0000
dtype: float64

In [8]:
dict = {"a":"Aurora", "b":"Belle", "c":"cinderella"}

In [10]:
my_series= pd.Series(dict)

In [29]:
#type(my_series)
#type(colors)
my_series

list

In [12]:
pd.read_csv('titanic.csv')

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

In [13]:
new_list = ['yellow',3.14, 1, True]

In [14]:
new_list

['yellow', 3.14, 1, True]

In [15]:
pd.Series(new_list)

0    yellow
1      3.14
2         1
3      True
dtype: object

In [ ]:
#'https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv'

In [22]:
pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv')

     Index   Height(Inches)"   "Weight(Pounds)"
0        1             65.78             112.99
1        2             71.52             136.49
2        3             69.40             153.03
3        4             68.22             142.34
4        5             67.79             144.30
..     ...               ...                ...
195    196             65.80             120.84
196    197             66.11             115.78
197    198             68.24             128.30
198    199             68.02             127.47
199    200             71.39             127.88

[200 rows x 3 columns]

In [37]:
df = pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv',usecols =[' Height(Inches)"'])
df
#pd.Series(df)

     Height(Inches)"
0              65.78
1              71.52
2              69.40
3              68.22
4              67.79
..               ...
195            65.80
196            66.11
197            68.24
198            68.02
199            71.39

[200 rows x 1 columns]

In [ ]:
type(df)

In [31]:
 pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv',usecols =[' Height(Inches)"']).squeeze("columns")

0      65.78
1      71.52
2      69.40
3      68.22
4      67.79
       ...
195    65.80
196    66.11
197    68.24
198    68.02
199    71.39
Name:  Height(Inches)", Length: 200, dtype: float64

In [32]:
 s1= pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv',usecols =[' Height(Inches)"']).squeeze("columns")

In [33]:
type(s1)

pandas.core.series.Series

In [38]:
fare = pd.read_csv('titanic.csv',usecols=['Fare']).squeeze('columns')

In [39]:
fare

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
882    13.0000
883    30.0000
884    23.4500
885    30.0000
886     7.7500
Name: Fare, Length: 887, dtype: float64

In [42]:
fare.head(3) #default 5 ערכים ראשונים

0     7.2500
1    71.2833
2     7.9250
Name: Fare, dtype: float64

In [44]:
fare.tail(10) #default 5 ערכים אחרונים

877     7.8958
878    10.5167
879    10.5000
880     7.0500
881    29.1250
882    13.0000
883    30.0000
884    23.4500
885    30.0000
886     7.7500
Name: Fare, dtype: float64

In [45]:
fare.info()

<class 'pandas.core.series.Series'>
RangeIndex: 887 entries, 0 to 886
Series name: Fare
Non-Null Count  Dtype
--------------  -----
887 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB

In [47]:
fare.describe()

count    887.00000
mean      32.30542
std       49.78204
min        0.00000
25%        7.92500
50%       14.45420
75%       31.13750
max      512.32920
Name: Fare, dtype: float64

In [49]:
var1= fare.values # מחזיר מערך ערכים

In [50]:
type(var1)

numpy.ndarray

In [51]:
fare.index #מידע על אינדקס

RangeIndex(start=0, stop=887, step=1)

In [52]:
my_series

a        Aurora
b         Belle
c    cinderella
dtype: object

In [53]:
my_series.index

Index(['a', 'b', 'c'], dtype='object')

In [54]:
fare.dtype #pandas the type of the values in

dtype('float64')

In [55]:
type(fare) #python type of fare

pandas.core.series.Series

In [56]:
fare.sum()

28654.907699999996

In [57]:
fare.mean() #ממוצע

32.30542018038331

In [58]:
fare.product() #מכפלה

0.0

In [59]:
fare

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
882    13.0000
883    30.0000
884    23.4500
885    30.0000
886     7.7500
Name: Fare, Length: 887, dtype: float64

In [60]:
fare.add(1) #מוסיף לכולם

0       8.2500
1      72.2833
2       8.9250
3      54.1000
4       9.0500
        ...
882    14.0000
883    31.0000
884    24.4500
885    31.0000
886     8.7500
Name: Fare, Length: 887, dtype: float64

In [61]:
fare.add(-1)

0       6.2500
1      70.2833
2       6.9250
3      52.1000
4       7.0500
        ...
882    12.0000
883    29.0000
884    22.4500
885    29.0000
886     6.7500
Name: Fare, Length: 887, dtype: float64

In [62]:
fare.sub(1) #חיסור

0       6.2500
1      70.2833
2       6.9250
3      52.1000
4       7.0500
        ...
882    12.0000
883    29.0000
884    22.4500
885    29.0000
886     6.7500
Name: Fare, Length: 887, dtype: float64

In [63]:
fare.div(2)

0       3.62500
1      35.64165
2       3.96250
3      26.55000
4       4.02500
         ...
882     6.50000
883    15.00000
884    11.72500
885    15.00000
886     3.87500
Name: Fare, Length: 887, dtype: float64

In [64]:
fare.floordiv(2)

0       3.0
1      35.0
2       3.0
3      26.0
4       4.0
       ...
882     6.0
883    15.0
884    11.0
885    15.0
886     3.0
Name: Fare, Length: 887, dtype: float64

In [66]:
x= fare.describe()

In [77]:
#function
def greet (name): #paramenter
    return "hi "+name

In [74]:
greet("Inigo montoya") #argument

'hi Inigo montoya'

In [78]:
pd.Series()

Series([], dtype: object)

In [83]:
month = ['augost','septembre']

In [82]:
pd.Series(month)

0     jully
1    augost
dtype: object

In [84]:
days = [31,30]

In [85]:
pd.Series(month,days) #tab for help

31       augost
30    septembre
dtype: object

In [86]:
pd.Series(data = month ,index= days) #shift+tab for help

31       augost
30    septembre
dtype: object

In [87]:
month = ['jully','augost','septembre']
days = [31,31,30]
pd.Series(data = month ,index= days)

31        jully
31       augost
30    septembre
dtype: object

In [88]:
fare

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
882    13.0000
883    30.0000
884    23.4500
885    30.0000
886     7.7500
Name: Fare, Length: 887, dtype: float64

In [89]:
fare.describe()

count    887.00000
mean      32.30542
std       49.78204
min        0.00000
25%        7.92500
50%       14.45420
75%       31.13750
max      512.32920
Name: Fare, dtype: float64

In [90]:
fare.sort_values()

275      0.0000
478      0.0000
411      0.0000
594      0.0000
630      0.0000
         ...
27     263.0000
339    263.0000
733    512.3292
257    512.3292
676    512.3292
Name: Fare, Length: 887, dtype: float64

In [92]:
fare.sort_values(ascending=False)

676    512.3292
257    512.3292
733    512.3292
87     263.0000
435    263.0000
         ...
818      0.0000
463      0.0000
269      0.0000
811      0.0000
261      0.0000
Name: Fare, Length: 887, dtype: float64

In [94]:
fare.values

array([  7.25  ,  71.2833,   7.925 ,  53.1   ,   8.05  ,   8.4583,
        51.8625,  21.075 ,  11.1333,  30.0708,  16.7   ,  26.55  ,
         8.05  ,  31.275 ,   7.8542,  16.    ,  29.125 ,  13.    ,
        18.    ,   7.225 ,  26.    ,  13.    ,   8.0292,  35.5   ,
        21.075 ,  31.3875,   7.225 , 263.    ,   7.8792,   7.8958,
        27.7208, 146.5208,   7.75  ,  10.5   ,  82.1708,  52.    ,
         7.2292,   8.05  ,  18.    ,  11.2417,   9.475 ,  21.    ,
        41.5792,   7.8792,   8.05  ,  15.5   ,   7.75  ,  21.6792,
        17.8   ,  39.6875,   7.8   ,  76.7292,  26.    ,  61.9792,
        35.5   ,  10.5   ,   7.2292,  27.75  ,  46.9   ,   7.2292,
        80.    ,  83.475 ,  27.9   ,  27.7208,  15.2458,  10.5   ,
         8.1583,   7.925 ,   8.6625,  10.5   ,  46.9   ,  73.5   ,
        14.4542,  56.4958,   7.65  ,   7.8958,   8.05  ,  29.    ,
        12.475 ,   9.    ,   9.5   ,   7.7875,  47.1   ,  10.5   ,
        15.85  ,  34.375 ,   8.05  , 263.    ,   8.05  ,   8.05  ,
         7.8542,  61.175 ,  20.575 ,   7.25  ,   8.05  ,  34.6542,
        63.3583,  23.    ,  26.    ,   7.8958,   7.8958,  77.2875,
         8.6542,   7.925 ,   7.8958,   7.65  ,   7.775 ,   7.8958,
        24.15  ,  52.    ,  14.4542,   8.05  ,   9.825 ,  14.4583,
         7.925 ,   7.75  ,  21.    , 247.5208,  31.275 ,  73.5   ,
         8.05  ,  30.0708,  13.    ,  77.2875,  11.2417,   7.75  ,
         7.1417,  22.3583,   6.975 ,   7.8958,   7.05  ,  14.5   ,
        26.    ,  13.    ,  15.0458,  26.2833,  53.1   ,   9.2167,
        79.2   ,  15.2458,   7.75  ,  15.85  ,   6.75  ,  11.5   ,
        36.75  ,   7.7958,  34.375 ,  26.    ,  13.    ,  12.525 ,
        66.6   ,   8.05  ,  14.5   ,   7.3125,  61.3792,   7.7333,
         8.05  ,   8.6625,  69.55  ,  16.1   ,  15.75  ,   7.775 ,
         8.6625,  39.6875,  20.525 ,  55.    ,  27.9   ,  25.925 ,
        56.4958,  33.5   ,  29.125 ,  11.1333,   7.925 ,  30.6958,
         7.8542,  25.4667,  28.7125,  13.    ,   0.    ,  69.55  ,
        15.05  ,  31.3875,  39.    ,  22.025 ,  50.    ,  15.5   ,
        26.55  ,  15.5   ,   7.8958,  13.    ,  13.    ,   7.8542,
        26.    ,  27.7208, 146.5208,   7.75  ,   8.4042,   7.75  ,
        13.    ,   9.5   ,  69.55  ,   6.4958,   7.225 ,   8.05  ,
        10.4625,  15.85  ,  18.7875,   7.75  ,  31.    ,   7.05  ,
        21.    ,   7.25  ,  13.    ,   7.75  , 113.275 ,   7.925 ,
        27.    ,  76.2917,  10.5   ,   8.05  ,  13.    ,   8.05  ,
         7.8958,  90.    ,   9.35  ,  10.5   ,   7.25  ,  13.    ,
        25.4667,  83.475 ,   7.775 ,  13.5   ,  31.3875,  10.5   ,
         7.55  ,  26.    ,  26.25  ,  10.5   ,  12.275 ,  14.4542,
        15.5   ,  10.5   ,   7.125 ,   7.225 ,  90.    ,   7.775 ,
        14.5   ,  52.5542,  26.    ,   7.25  ,  10.4625,  26.55  ,
        16.1   ,  20.2125,  15.2458,  79.2   ,  86.5   , 512.3292,
        26.    ,  31.3875,  79.65  ,   0.    ,   7.75  ,  10.5   ,
        39.6875,   7.775 , 153.4625, 135.6333,  31.    ,   0.    ,
        19.5   ,  29.7   ,   7.75  ,  77.9583,   7.75  ,   0.    ,
        29.125 ,  20.25  ,   7.75  ,   7.8542,   9.5   ,   8.05  ,
        26.    ,   8.6625,   9.5   ,   7.8958,  13.    ,   7.75  ,
        78.85  ,  91.0792,  12.875 ,   8.85  ,   7.8958,  27.7208,
         7.2292, 151.55  ,  30.5   , 247.5208,   7.75  ,  23.25  ,
         0.    ,  12.35  ,   8.05  , 151.55  , 110.8833, 108.9   ,
        24.    ,  56.9292,  83.1583, 262.375 ,  26.    ,   7.8958,
        26.25  ,   7.8542,  26.    ,  14.    , 164.8667, 134.5   ,
         7.25  ,   7.8958,  12.35  ,  29.    ,  69.55  , 135.6333,
         6.2375,  13.    ,  20.525 ,  57.9792,  23.25  ,  28.5   ,
       153.4625,  18.    , 133.65  ,   7.8958,  66.6   , 134.5   ,
         8.05  ,  35.5   ,  26.    , 263.    ,  13.    ,  13.    ,
        13.    ,  13.    ,  13.    ,  16.1   ,  15.9   ,   8.6625,
         9.225 ,  35.    ,   7.2292,  17.8   ,   7.225 ,   9.5   ,
        55.    ,  13.    ,   7.8792,   7.8792,  27.9   ,  27.7208,
        14.4542,   7.05  ,  15.5   ,   7.25  ,  75.25  ,   7.2292,
         7.75  ,  69.3   ,  55.4417,   6.4958,   8.05  , 135.6333,
        21.075 ,  82.1708,   7.25  , 211.5   ,   4.0125,   7.775 ,
       227.525 ,  15.7417,   7.925 ,  52.    ,   7.8958,  73.5   ,
        46.9   ,  13.    ,   7.7292,  12.    , 120.    ,   7.7958,
         7.925 , 113.275 ,  16.7   ,   7.7958,   7.8542,  26.    ,
        10.5   ,  12.65  ,   7.925 ,   8.05  ,   9.825 ,  15.85  ,
         8.6625,  21.    ,   7.75  ,  18.75  ,   7.775 ,  25.4667,
         7.8958,   6.8583,  90.    ,   0.    ,   7.925 ,   8.05  ,
        32.5   ,  13.    ,  13.    ,  24.15  ,   7.7333,   7.875 ,
        14.4   ,  20.2125,   7.25  ,  26.    ,  26.    ,   7.75  ,
         8.05  ,  26.55  ,  16.1   ,  26.    ,   7.125 ,  55.9   ,
       120.    ,  34.375 ,  18.75  , 263.    ,  10.5   ,  26.25  ,
         9.5   ,   7.775 ,  13.    ,   8.1125,  81.8583,  19.5   ,
        26.55  ,  19.2583,  30.5   ,  27.75  ,  19.9667,  27.75  ,
        89.1042,   8.05  ,   7.8958,  26.55  ,  51.8625,  10.5   ,
         7.75  ,  26.55  ,   8.05  ,  38.5   ,  13.    ,   8.05  ,
         7.05  ,   0.    ,  26.55  ,   7.725 ,  19.2583,   7.25  ,
         8.6625,  27.75  ,  13.7917,   9.8375,  52.    ,  21.    ,
         7.0458,   7.5208,  12.2875,  46.9   ,   0.    ,   8.05  ,
         9.5875,  91.0792,  25.4667,  90.    ,  29.7   ,   8.05  ,
        15.9   ,  19.9667,   7.25  ,  30.5   ,  49.5042,   8.05  ,
        14.4583,  78.2667,  15.1   , 151.55  ,   7.7958,   8.6625,
         7.75  ,   7.6292,   9.5875,  86.5   , 108.9   ,  26.    ,
        26.55  ,  22.525 ,  56.4958,   7.75  ,   8.05  ,  26.2875,
        59.4   ,   7.4958,  34.0208,  10.5   ,  24.15  ,  26.    ,
         7.8958,  93.5   ,   7.8958,   7.225 ,  57.9792,   7.2292,
         7.75  ,  10.5   , 221.7792,   7.925 ,  11.5   ,  26.    ,
         7.2292,   7.2292,  22.3583,   8.6625,  26.25  ,  26.55  ,
       106.425 ,  14.5   ,  49.5   ,  71.    ,  31.275 ,  31.275 ,
        26.    , 106.425 ,  26.    ,  26.    ,  13.8625,  20.525 ,
        36.75  , 110.8833,  26.    ,   7.8292,   7.225 ,   7.775 ,
        26.55  ,  39.6   , 227.525 ,  79.65  ,  17.4   ,   7.75  ,
         7.8958,  13.5   ,   8.05  ,   8.05  ,  24.15  ,   7.8958,
        21.075 ,   7.2292,   7.8542,  10.5   ,  51.4792,  26.3875,
         7.75  ,   8.05  ,  14.5   ,  13.    ,  55.9   ,  14.4583,
         7.925 ,  30.    , 110.8833,  26.    ,  40.125 ,   8.7125,
        79.65  ,  15.    ,  79.2   ,   8.05  ,   8.05  ,   7.125 ,
        78.2667,   7.25  ,   7.75  ,  26.    ,  24.15  ,  33.    ,
         0.    ,   7.225 ,  56.9292,  27.    ,   7.8958,  42.4   ,
         8.05  ,  26.55  ,  15.55  ,   7.8958,  30.5   ,  41.5792,
       153.4625,  31.275 ,   7.05  ,  15.5   ,   7.75  ,   8.05  ,
        65.    ,  14.4   ,  16.1   ,  39.    ,  10.5   ,  14.4542,
        52.5542,  15.7417,   7.8542,  16.1   ,  32.3208,  12.35  ,
        77.9583,   7.8958,   7.7333,  30.    ,   7.0542,  30.5   ,
         0.    ,  27.9   ,  13.    ,   7.925 ,  26.25  ,  39.6875,
        16.1   ,   7.8542,  69.3   ,  27.9   ,  56.4958,  19.2583,
        76.7292,   7.8958,  35.5   ,   7.55  ,   7.55  ,   7.8958,
        23.    ,   8.4333,   7.8292,   6.75  ,  73.5   ,   7.8958,
        15.5   ,  13.    , 113.275 , 133.65  ,   7.225 ,  25.5875,
         7.4958,   7.925 ,  73.5   ,  13.    ,   7.775 ,   8.05  ,
        52.    ,  39.    ,  52.    ,  10.5   ,  13.    ,   0.    ,
         7.775 ,   8.05  ,   9.8417,  46.9   , 512.3292,   8.1375,
        76.7292,   9.225 ,  46.9   ,  39.    ,  41.5792,  39.6875,
        10.1708,   7.7958, 211.3375,  57.    ,  13.4167,  56.4958,
         7.225 ,  26.55  ,  13.5   ,   8.05  ,   7.7333, 110.8833,
         7.65  , 227.525 ,  26.2875,  14.4542,   7.7417,   7.8542,
        26.    ,  13.5   ,  26.2875, 151.55  ,  15.2458,  49.5042,
        26.55  ,  52.    ,   9.4833,  13.    ,   7.65  , 227.525 ,
        10.5   ,   7.775 ,  33.    ,   7.0542,  13.    ,  13.    ,
        53.1   ,   8.6625,  21.    ,   7.7375,  26.    ,   7.925 ,
       211.3375,  18.7875,   0.    ,  13.    ,  13.    ,  16.1   ,
        34.375 , 512.3292,   7.8958,   7.8958,  30.    ,  78.85  ,
       262.375 ,  16.1   ,   7.925 ,  71.    ,  20.25  ,  13.    ,
        53.1   ,   7.75  ,  23.    ,  12.475 ,   9.5   ,   7.8958,
        65.    ,  14.5   ,   7.7958,  11.5   ,   8.05  ,  86.5   ,
        14.5   ,   7.125 ,   7.2292, 120.    ,   7.775 ,  77.9583,
        39.6   ,   7.75  ,  24.15  ,   8.3625,   9.5   ,   7.8542,
        10.5   ,   7.225 ,  23.    ,   7.75  ,   7.75  ,  12.475 ,
         7.7375, 211.3375,   7.2292,  57.    ,  30.    ,  23.45  ,
         7.05  ,   7.25  ,   7.4958,  29.125 ,  20.575 ,  79.2   ,
         7.75  ,  26.    ,  69.55  ,  30.6958,   7.8958,  13.    ,
        25.9292,   8.6833,   7.2292,  24.15  ,  13.    ,  26.25  ,
       120.    ,   8.5167,   6.975 ,   7.775 ,   0.    ,   7.775 ,
        13.    ,  53.1   ,   7.8875,  24.15  ,  10.5   ,  31.275 ,
         8.05  ,   0.    ,   7.925 ,  37.0042,   6.45  ,  27.9   ,
        93.5   ,   8.6625,   0.    ,  12.475 ,  39.6875,   6.95  ,
        56.4958,  37.0042,   7.75  ,  80.    ,  14.4542,  18.75  ,
         7.2292,   7.8542,   8.3   ,  83.1583,   8.6625,   8.05  ,
        56.4958,  29.7   ,   7.925 ,  10.5   ,  31.    ,   6.4375,
         8.6625,   7.55  ,  69.55  ,   7.8958,  33.    ,  89.1042,
        31.275 ,   7.775 ,  15.2458,  39.4   ,  26.    ,   9.35  ,
       164.8667,  26.55  ,  19.2583,   7.2292,  14.1083,  11.5   ,
        25.9292,  69.55  ,  13.    ,  13.    ,  13.8583,  50.4958,
         9.5   ,  11.1333,   7.8958,  52.5542,   5.    ,   9.    ,
        24.    ,   7.225 ,   9.8458,   7.8958,   7.8958,  83.1583,
        26.    ,   7.8958,  10.5167,  10.5   ,   7.05  ,  29.125 ,
        13.    ,  30.    ,  23.45  ,  30.    ,   7.75  ])

In [95]:
fare.is_unique

False

In [100]:

new_list = [1,2,3,4]
nls= pd.Series(new_list)

In [101]:
nls.is_unique

True

In [102]:
df

     Height(Inches)"
0              65.78
1              71.52
2              69.40
3              68.22
4              67.79
..               ...
195            65.80
196            66.11
197            68.24
198            68.02
199            71.39

[200 rows x 1 columns]

In [103]:
s1

0      65.78
1      71.52
2      69.40
3      68.22
4      67.79
       ...
195    65.80
196    66.11
197    68.24
198    68.02
199    71.39
Name:  Height(Inches)", Length: 200, dtype: float64

In [104]:
s1.ndim

1

In [105]:
df.ndim

2

In [107]:
df2 = pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv')
df2

     Index   Height(Inches)"   "Weight(Pounds)"
0        1             65.78             112.99
1        2             71.52             136.49
2        3             69.40             153.03
3        4             68.22             142.34
4        5             67.79             144.30
..     ...               ...                ...
195    196             65.80             120.84
196    197             66.11             115.78
197    198             68.24             128.30
198    199             68.02             127.47
199    200             71.39             127.88

[200 rows x 3 columns]

In [108]:
df2.ndim

2

In [109]:
s1.shape

(200,)

In [110]:
df.shape

(200, 1)

In [111]:
df2.shape

(200, 3)

In [113]:
s1.size

200

In [115]:
df.size

200

In [116]:
df2.size # including nulls, counting field not values

600

In [121]:
fare.sort_values(ascending =False)

676    512.3292
257    512.3292
733    512.3292
87     263.0000
435    263.0000
         ...
818      0.0000
463      0.0000
269      0.0000
811      0.0000
261      0.0000
Name: Fare, Length: 887, dtype: float64

In [122]:
fare

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
882    13.0000
883    30.0000
884    23.4500
885    30.0000
886     7.7500
Name: Fare, Length: 887, dtype: float64

In [153]:
f5 = fare.copy()
f5

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
882    13.0000
883    30.0000
884    23.4500
885    30.0000
886     7.7500
Name: Fare, Length: 887, dtype: float64

In [157]:
f5.sort_values(ascending =False,inplace=True) #inplace saves the change
f5.head()

676    512.3292
257    512.3292
733    512.3292
87     263.0000
339    263.0000
Name: Fare, dtype: float64

In [156]:
f5.sort_index()

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
882    13.0000
883    30.0000
884    23.4500
885    30.0000
886     7.7500
Name: Fare, Length: 887, dtype: float64

In [132]:
f2.sort_index(ascending=False)

886     7.7500
885    30.0000
884    23.4500
883    30.0000
882    13.0000
        ...
4       8.0500
3      53.1000
2       7.9250
1      71.2833
0       7.2500
Name: Fare, Length: 887, dtype: float64

In [133]:
f4 = fare.sort_values(ascending =False)# לא מעתיק צורה מסודרת

In [134]:
f4

676    512.3292
257    512.3292
733    512.3292
87     263.0000
435    263.0000
         ...
818      0.0000
463      0.0000
269      0.0000
811      0.0000
261      0.0000
Name: Fare, Length: 887, dtype: float64

In [135]:
f4.sort_index()

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
882    13.0000
883    30.0000
884    23.4500
885    30.0000
886     7.7500
Name: Fare, Length: 887, dtype: float64

In [136]:
f4.get(87)

263.0

In [147]:
f4.get(900, default ="couldn't find")

"couldn't find"

In [139]:
f4.std()

49.78204040017367

In [141]:
f4.max()

512.3292

In [142]:
f4.median()

14.4542

In [143]:
f4.count()

887

In [144]:
len(f4)

887

In [145]:
f4.describe()

count    887.00000
mean      32.30542
std       49.78204
min        0.00000
25%        7.92500
50%       14.45420
75%       31.13750
max      512.32920
Name: Fare, dtype: float64