In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler , MinMaxScaler
from sklearn.model_selection import train_test_split

from sklearn.neighbors import KNeighborsClassifier #!!

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [ ]:
df= pd.read_csv('titanic.csv')

df.info()

In [ ]:
df = df.drop(['PassengerId','Name','Ticket','Cabin'], axis =1)

df['Age']= df['Age'].fillna(df['Age'].median())
df['Embarked']=df['Embarked'].fillna(df['Embarked'].mode()[0])

X= df.drop('Survived',axis =1)
y =df['Survived']

X=pd.get_dummies(X) #it will only tuch the categories

#Scaling- Supper important
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size =0.2 , random_state =42)

In [ ]:
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train, y_train)
y_pred= knn.predict(X_test)
accuracy_score(y_test, y_pred)

In [ ]:
knn = KNeighborsClassifier(n_neighbors=7,p=1)
knn.fit(X_train, y_train)
y_pred= knn.predict(X_test)
accuracy_score(y_test, y_pred)

In [ ]:
df

In [ ]:
knn = KNeighborsClassifier(n_neighbors=7,p=1,  weights='distance')
knn.fit(X_train, y_train)
y_pred= knn.predict(X_test)
accuracy_score(y_test, y_pred)

KNN IMPUTER

In [247]:
from sklearn.impute import KNNImputer

In [249]:
df = sns.load_dataset('penguins')

In [251]:
df.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [253]:
rows_to_check = df[df['sex'].isnull()].index
df[df['sex'].isnull()]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
47,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN
246,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN
286,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN

In [255]:
rows_to_check

Index([3, 8, 9, 10, 11, 47, 246, 286, 324, 336, 339], dtype='int64')

In [257]:
dfn = df.select_dtypes('number')

In [259]:
dfn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bill_length_mm     342 non-null    float64
 1   bill_depth_mm      342 non-null    float64
 2   flipper_length_mm  342 non-null    float64
 3   body_mass_g        342 non-null    float64
dtypes: float64(4)
memory usage: 10.9 KB

In [261]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(dfn)

In [263]:
#encode
scaled_data = pd.DataFrame(scaled_data, columns = dfn.columns)

In [265]:
scaled_data

     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0         -0.884499       0.785449          -1.418347    -0.564142
1         -0.811126       0.126188          -1.062250    -0.501703
2         -0.664380       0.430462          -0.421277    -1.188532
3               NaN            NaN                NaN          NaN
4         -1.324737       1.089724          -0.563715    -0.938776
..              ...            ...                ...          ...
339             NaN            NaN                NaN          NaN
340        0.527932      -1.445897           1.003109     0.809516
341        1.188289      -0.735923           1.501644     1.933419
342        0.234440      -1.192335           0.789451     1.246590
343        1.096572      -0.533073           0.860670     1.496346

[344 rows x 4 columns]

In [267]:
sex= df['sex'].astype('category').cat.codes.replace(-1,np.nan)

In [269]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [271]:
dfn = pd.concat([scaled_data,sex],axis =1)

In [ ]:
dfn.head(1)

In [273]:
dfn.columns.values[-1] = 'sex'

In [ ]:
dfn.head(10)

In [275]:
#KNN
imputer = KNNImputer( n_neighbors=3, weights= 'distance')
imputed = imputer.fit_transform(dfn)

In [299]:
imputed

array([[-0.88449874,  0.78544923, -1.41834665, -0.56414208,  1.        ],
       [-0.81112573,  0.1261879 , -1.06225022, -0.50170305,  0.        ],
       [-0.66437972,  0.43046236, -0.42127665, -1.18853234,  0.        ],
       ...,
       [ 1.18828874, -0.73592307,  1.50164406,  1.93341896,  1.        ],
       [ 0.23443963, -1.19233476,  0.7894512 ,  1.24658968,  0.        ],
       [ 1.09657248, -0.53307343,  0.86067049,  1.49634578,  1.        ]])

In [277]:
dfn = pd.DataFrame(imputed, columns = dfn.columns)

In [279]:
dfn.head()

   bill_length_mm  bill_depth_mm  flipper_length_mm   body_mass_g       sex
0   -8.844987e-01   7.854492e-01      -1.418347e+00 -5.641421e-01  1.000000
1   -8.111257e-01   1.261879e-01      -1.062250e+00 -5.017031e-01  0.000000
2   -6.643797e-01   4.304624e-01      -4.212767e-01 -1.188532e+00  0.000000
3    8.310441e-17  -1.412775e-15      -8.310441e-16  4.155221e-17  0.504505
4   -1.324737e+00   1.089724e+00      -5.637152e-01 -9.387762e-01  0.000000

In [ ]:
df['sex'].astype('category').cat.categories

In [283]:
mapping = dict(enumerate(df['sex'].astype('category').cat.categories))

In [301]:
mapping

{0: 'Female', 1: 'Male'}

In [ ]:
print(mapping)

In [285]:
dfn['sex1'] =round( dfn['sex']).map(mapping)

In [289]:
dfn

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,sex1
0,-8.844987e-01,7.854492e-01,-1.418347e+00,-5.641421e-01,1.000000,Male
1,-8.111257e-01,1.261879e-01,-1.062250e+00,-5.017031e-01,0.000000,Female
2,-6.643797e-01,4.304624e-01,-4.212767e-01,-1.188532e+00,0.000000,Female
3,8.310441e-17,-1.412775e-15,-8.310441e-16,4.155221e-17,0.504505,Male
4,-1.324737e+00,1.089724e+00,-5.637152e-01,-9.387762e-01,0.000000,Female
...,...,...,...,...,...,...
339,8.310441e-17,-1.412775e-15,-8.310441e-16,4.155221e-17,0.504505,Male
340,5.279317e-01,-1.445897e+00,1.003109e+00,8.095165e-01,0.000000,Female
341,1.188289e+00,-7.359231e-01,1.501644e+00,1.933419e+00,1.000000,Male
342,2.344396e-01,-1.192335e+00,7.894512e-01,1.246590e+00,0.000000,Female
343,1.096572e+00,-5.330734e-01,8.606705e-01,1.496346e+00,1.000000,Male

In [291]:
dfn['sex']= dfn['sex1']

In [293]:
df['sex']=dfn['sex']

In [297]:
df.iloc[rows_to_check]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,Male
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,Female
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,Male
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,Female
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,Female
47,Adelie,Dream,37.5,18.9,179.0,2975.0,Female
246,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,Female
286,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,Female
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,Female
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,Male
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,Male

In [307]:
sns.load_dataset('planets').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB