1. import pandas

2.1 create a data frame, name it df, and load the the data in mls_salaries.csv to it.

2.2 explore your data using head(), tail(), describe() and info()

3.1  display only the first_name column

3.2 display only the first_name ,position and last name columns

4. add 1$ to base salary, make sure your changes are saved to the data frame

5. add a new column, name it "best team" use "super strikers" as the default value in that column

6. add a column in the 2nd position, name it "age" use NaN as default (this may be a little harder that you expect)

7. how many types of clubs are there?

8. Which club is the most common?

9. If you have some time left, you can create a function that receives a float between 0 and 1 and prints the corresponding quantile with a sentence.
For example, if it receives the number 0.7, it should print: 'The 70.0% quantile salary is 225000.0.'