In [ ]:
#!pip install xgboost

In [1]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

In [2]:
df = sns.load_dataset('titanic')

In [3]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [5]:
features = ['pclass', 'sex', 'age', 'sibsp','parch', 'fare', 'embarked']
df  = df[features + ['survived']].dropna()

In [6]:
le = LabelEncoder()
df['sex'] = le.fit_transform(df['sex'])
df['embarked'] = le.fit_transform(df['embarked'])

In [7]:
X = df[features]
y = df['survived']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size =0.2, random_state =42)

In [9]:
#Random Forest
rf = RandomForestClassifier(random_state =42)
rf.fit(X_train, y_train)
rf_pred =  rf.predict(X_test)
rf_acc  =  accuracy_score(y_test, rf_pred)

In [10]:
#XGBoost
xgb =  XGBClassifier(eval_metric = 'logloss', #merror #regression - rmse, mae
                    # objective = 'binary:logistic'/'multi:softprob' num_class = 5/'mult:softmax'
                     random_state =42
                    )
xgb.fit(X_train, y_train)
xgb_pred = xgb.predict(X_test)
xgb_acc  =  accuracy_score(y_test, xgb_pred)

In [11]:
print(f"random forest - the acc was{rf_acc}")
print(f"XGBoost the acc was{xgb_acc}")

random forest - the acc was0.7902097902097902
XGBoost the acc was0.7622377622377622

In [12]:
# מה הוא יודע לעשות שאחרים לא
df = sns.load_dataset('titanic')

In [13]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [16]:
features = ['pclass', 'sex', 'age', 'sibsp','parch', 'fare', 'embarked']

X = df[features].copy()
y = df['survived']

X['sex'] =X['sex'].astype('category')
X['embarked'] =X['embarked'].astype('category')

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size =0.2, random_state =42)

xgb =  XGBClassifier(eval_metric = 'logloss',
                     enable_categorical = True ,# מאפשר נתונים קטגורים
                     tree_method = 'hist' ,#חובה עבור נתונים קטגורים
                     random_state =42
                    )
xgb.fit(X_train, y_train)
xgb_pred = xgb.predict(X_test)
xgb_acc  =  accuracy_score(y_test, xgb_pred)

print(f"XGBoost the acc was{xgb_acc}")

XGBoost the acc was0.8156424581005587