intro: in this exercise you will use mls_salaries_nans.csv as the data frame.

1. look at your data and get to know it a little. use info(), head(), tail, describe()- or whatever it is you want to map for yourself what needs to be done.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('mls_salaries_nans.csv')

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.describe()

2. The 'club' column contains NaN values. Delete rows with null values in this column and make the changes permanent

In [ ]:
df.dropna(subset =['club'], inplace=True)

In [ ]:
df.info()

3. The 'base_salary' and 'position' columns contain NaN values. Delete rows with null values in them and make the changes permanent

In [ ]:
df.dropna(subset =['base_salary','position'], inplace = True)

In [ ]:
df.info()

4.restore the data from the original file to continue this exercise.

In [ ]:
df = pd.read_csv('mls_salaries_nans.csv')

5. there is 1 row that has NaN values in all columns. delete it, make the changes permanent.

In [ ]:
df.dropna(how="all", inplace=True)

6.The 'base_salary' column contains NaN values. Replace them with something that makes sense to you. make sure to make the change permanent

In [ ]:
df['base_salary'].describe()
df['base_salary'].median()

In [ ]:
#median
#warning but no error
df['base_salary'].fillna(df['base_salary'].median(), inplace=True)

In [ ]:
df.info()

7. The 'club' column contains NaN values. Replace them with something that makes sense to you. make sure to make the change permanent

In [ ]:
df['club'].mode()

In [ ]:
df['club'].fillna(df['club'].mode(),inplace=True)

In [ ]:
df.info()

8. The 'position' columns contains NaN values.
   use isnull to mask the relevant rows and show only them

In [ ]:
df['position'].isnull().head(15)

In [ ]:
mask= df['position'].isnull()

In [ ]:
df[mask]