#1 import pandas

#2.1 create a list "names" with 4 string items (you can choose what 4 names you want to use in your list)

#2.2 create a dictionary "missions" with the following keys and values: 
Appolo11: "Moon landing"
Manhattan: "Development of Atomic Bomb"
Impossibl:"should you choose to accept it..."

#3.1 create a series variable named s_names and assign the names list to is a series

#3.2 create a series variable named s_missions and assign the dictionary "missions" to is a series

#4.1 print s_names ,and inspect the data type and the index

#4.2 print s_missions and inspect the data type and the index

#4.3 for both series use the index attribute.

#5 use read_csv to upload the data in 'https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv'

#6 take the ' Height(Inches)"' column and turn it to a series, asign this series into a varible named s_hight.

#7 what is the data type of the the series values?

#8 use appropriate attributes to  display the list of values in the series, and the information about the index of it.

#9 what is the avrage higtht in this series?

#10 convert the values to cm (1 inch=2.54 cm)