In [ ]:
# Importing required libraries
from  sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Step 1: Connect to the Database and Test Connection

engin = create_engine('postgresql://postgres:sql@localhost:5432/oracle') 
#שימו לב שאתם משתמשים פרטים שלכם אחרת זה לא יעבוד#

In [ ]:
# List all tables in the database #no need to show
#שלב זה לא חובה , אבל מי שבכל זאת רוצה לעשות את זה ככה - זאת אחד הדרכים:
tables_query = """
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';
"""
tables = pd.read_sql_query(tables_query, engin)
print("Tables in the database:")
print(tables)

In [ ]:
# Step 2: Create the View 
'''
זאת השאילתא שצריכה לרוץ בפוסטרגס
'''
"""
CREATE OR REPLACE VIEW employee_details_view 
AS
SELECT 
    e.employee_id AS emp_id,
    e.first_name,
    e.last_name,
    e.salary,
    e.commission_pct AS commission,
    d.department_id AS dept_id,
    d.department_name AS dept_name,
    j.job_id,
    j.job_title,
    sg.salary_grade AS grade
FROM employees e
LEFT JOIN departments d ON e.department_id = d.department_id
LEFT JOIN jobs j ON e.job_id = j.job_id
LEFT JOIN sal_grades sg ON e.salary BETWEEN sg.low_sal AND sg.high_sal;

SELECT * FROM employee_details_view ;
"""

In [ ]:
# Step 3: Query the View and Load into DataFrame
query = "SELECT * FROM employee_details_view;"
df = pd.read_sql_query(query, engin)

In [ ]:
# Step 4: Data Quality Checks
# Check for missing values
df.isnull().sum()

In [ ]:
#seting the index:
df.set_index (keys ='emp_id', inplace = True)

In [ ]:
# Summary statistics for numerical columns
df.describe()

In [ ]:
# Identify potential outliers in the salary column

df['salary'].describe()

sns.boxplot(data = df, x='salary')

In [ ]:
# Step 5: Clean the Data
# Replace NULL values in commission_pct with 0
df['commission'] = df['commission'].fillna(0)

In [ ]:
# Replace NULL values in department_name with "Unknown"
df['dept_name']= df['dept_name'].fillna("Unknown")

In [ ]:
# Convert department_id to a categorical type
cols_to_cat = ['dept_name', 'job_title', 'grade']
df[cols_to_cat] = df[cols_to_cat].astype('category')
df.info()

In [ ]:
#droping
cols_to_drop = ['job_id','dept_id']
df = df.drop(cols_to_drop,axis = 1) #במקום inplace =True

In [ ]:
# Display the cleaned DataFrame
df.head()

In [ ]:
# Step 6: Data Analysis and Visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Bar chart: Average salary by department

avg_salary_by_dept=df.groupby('dept_name')['salary'].mean()
plt.bar(avg_salary_by_dept.index,height = avg_salary_by_dept.values)

plt.xticks(rotation = 90)
plt.ylabel("Department")
plt.xlabel("Average Salary")

plt.title("the whatever title, i don't know")
plt.show()

In [ ]:
#מי שמעדיף עם seaborn
sns.barplot(data= avg_salary_by_dept)
sns.barplot(data= avg_salary_by_dept).set_xticklabels(sns.barplot(data= avg_salary_by_dept).get_xticklabels(), rotation=90)
plt.show()

In [ ]:
#or:
avg_salary_by_dept.plot(kind = 'bar')

In [ ]:
# Pie chart: Number of employees by salary grade
emp_by_grade = df['grade'].value_counts()
emp_by_grade.plot(kind='pie', autopct='%1.1f%%', 
                  title="Emps by Sal Grade",
                 colors = ["#800020", "#013220", "#4682B4", "#DAA520"]) 
plt.ylabel('')  # שלא יראב כלום בכותרת של yl
plt.show()

In [ ]:
# Bar chart: Number of employees by job title
plt.figure(figsize = (16,3))
emp_by_job = df['job_title'].value_counts()
emp_by_job.plot(kind='bar')
plt.xlabel("Job")
plt.ylabel("#emps")
plt.xticks(rotation=45)
plt.show()

In [ ]:
# Heatmap: Correlation between numerical columns
numerical_cols = df[['salary', 'commission']]
correlation_matrix = numerical_cols.corr()
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
plt.title("Correlation Heatmap")
plt.show()

In [ ]:
# Step 7: Export to CSV and Handle Extra Index
# Export the cleaned DataFrame to CSV
output_file = "cleaned_employees.csv"
df.to_csv(output_file, index=True)  # Include index
print(f"Data exported to {output_file}")

In [ ]:
# Reload the CSV file and check for extra index
df_from_csv = pd.read_csv(output_file, index_col = 'emp_id')
df_from_csv.head()

In [ ]:
# Drop the extra index column if it exists
df

In [ ]:
df['full_sal'] = df['salary']*(1+df['commission'])

In [ ]:
df

In [ ]:
df.select_dtypes(['number']).corr()

שאלת בונוס למסיימים:  צרו בג'ופיטר עמודה חדשה של משכורת מלאה כולל עמלה,  בדקו קורלציה בין משכורת, עמלה ומשכורת מלאה.  העזרו בheatmap  צרו גרף פיזור בין משכורת מלאה למשכורת כאשר העמלה תוסמן במפת צבעים, והוסיפו לגרף זה קו רגרסיה.  מה ניתן ללמוד מהגרף שנוצר?

In [ ]:
sns.scatterplot(
    x='full_sal', 
    y='salary', 
    hue='commission', 
    palette='plasma',  # ניתן לשנות לפלטות צבעים אחרות
    data=df
)

# הוספת קו רגרסיה
sns.regplot(
    x='full_sal', 
    y='salary', 
    data=df, 
    scatter=False,  # ביטול הנקודות (כבר מוצגות בגרף הקודם)
    color='k'
)


# כותרות לצירים ולגרף
plt.title("Salary vs. Full Salary with Commission Color")
plt.xlabel("Full Salary")
plt.ylabel("Salary")
plt.show()