##### intro: numpy  
a. Create a 1D NumPy array called arr with the elements [10, 20, 30, 40].  
Print the type, number of dimensions, shape, and size of arr.  
2D Array Operations:

b. Create a 2D NumPy array called arr2 with the values [[1, 2, 3], [4, 5, 6]].
Print the number of dimensions, shape, and size of arr2.
Access and print the first element of the second row.

**Array Arithmetic:**

c. Create two arrays a = np.array([1, 2, 3]) and b = np.array([10, 20, 30]).
Use vectorized addition to create a new array c that contains the sum of a and b.

**Random Array and Timing:**  
d. Create a random array x of size 5 using np.random.rand().  
e. Create two random arrays a and b of size 10**6 each.
Measure the time it takes to perform vectorized addition a + b.

**Titanic Dataset:**  

1. Create a new column Age_Category using the **apply** method  
If age is less than 18, assign Child otherwise assign Adult.
2. drop the column you created
3. Create a new column Age_Category using the **apply** method:  
If age is less than 18, assign Child.  
If age is between 18 and 50, assign Adult.  
If age is 60 or more, assign Senior.
4. Use the **select** function to create a new column Fare_Range:  
 If the fare is less than 10, assign Low.  
 If the fare is between 10 and 50, assign Medium.
Otherwise, assign High.

**Cereal Dataset:**  

5. Use the **apply** method to create a new column Health_Score:
Add the values of fiber and protein for each row.
6. Use **select** to categorize cereals into Cereal_Type:  
If calories are less than 100, assign Low Calorie.  
If calories are between 100 and 150, assign Regular.  
If calories are greater than 150, assign High Calorie.  
7. Create a new column called High_Sugar:  

Assign True if the cereal has sugar content greater than 10.
Assign False otherwise.

if you have some time left to play:
Using the Titanic dataset, create a new column with values based on the following conditions:

If the passenger's name starts with 'Mr.', assign 'Sir'.  
If the passenger's age is between 30 and 40 (inclusive), assign 'adult'.  
If the passenger's sex is 'female', assign 'She/Her'.  
Finally, display the DataFrame with the new column appended.